* {margin:0;padding:0;box-sizing:border-box;}

@media only screen and (max-width: 425px) {

    .sec2container {
        width: 100vw;
        height: 30rem;
        padding:0 .5rem 5rem .5rem;
    }
}
.sec2container {
    display: flex;
    align-items: flex-end;
}