@media only screen and (max-width: 425px) {
    .welcomewrap{
        height: 80vh;
        width: 100vw;
    }
}
.nasaImg {
    height: auto;
    width: fill;
}
.welcomewrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.25rem;
    /* to be replaced with img */
    background-color:slategrey;
}
.welcomelogowrap {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.welcomebtns {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: .75rem;
}