
/* ----------------------------- default styling ---------------------------- */
.dashactions {
    position: fixed;
    z-index: 10;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    // grid-template-columns: 1fr 1fr 1fr;
}

.dashhome { // home btn
    width: auto;
    height: auto;
    border: 3px solid black; // border (to be removed)
}

.dashpages,
.dashcompactwrap {
    top: 1.5rem;
    position: fixed;
    width: 100vw;
    z-index: 9;
}

.dashcompactwrap {
    width: 100%;
    justify-content: flex-end;

    .dashsupercompact {
        width: 100%;
        height: 30px;
        border: 3px solid blue; // border (to be removed)
    }
    .dashfloatingmenu {
        position: fixed;
        width: 60px;
        height: auto;
        border-radius: 50%;
        bottom: 0;
        right: 0;
        margin-right: 2rem;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
    
        .dashfloatercontent {

            .dashfloatercontent1 {
                width: 100%;
                background-color: aqua;
            }
            .dashfloatercontent2 {
                width: 100%;
                background-color:blue;
            }
            .dashfloatercontent3 {
                width: 100%;
                background-color:aliceblue;
            }
        }
    }

}


@media only screen and (max-width: '430px') {

    // small screens
    .dashactions {
        // padding: .2rem 2rem;
        display: none;
    }

    .dashsearch {
        display: none;
    }

    .dashsupercompact {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (min-width: '430px') {

    // medium screens
    .dashactions {
        display: flex;
        padding: .25rem 2.5rem;
    }

    .dashsupercompact {
        display: none;
    }

}

@media only screen and (max-width: '650px') {

    .dashactions {
        flex-direction: column;
    }

    .dashcompactwrap {
        top: 0;
    }

}

@media only screen and (min-width: '650px') {

    .dashactions {
        align-items: center;
    }

    .dashcompactwrap {
        column-gap: 6%;
        padding-right: 6%;
    }

}

@media only screen and (min-width: '1300px') {

    // large screens
    .dashactions {
        padding: .25rem 3rem;
    }

}

/* -------------------------------------------------------------------------- */
/*                                floating menu                               */
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: '650px') {
    .dashfloatingmenu {
        display: none;
    }
}


/* -------------------------------------------------------------------------- */
/*                                    tabs                                    */
/* -------------------------------------------------------------------------- */

@media only screen and (min-width: '430px') {.dashpages {column-gap: 6%;padding-right: 6%;}}




@media only screen and (max-width: '650px') {.dashpages {display: none;}} // remove tabs

@media only screen and (max-width: '1000px'){
    .dashpages {
        top: 3.5rem;
        column-gap: 2%;
        padding: 0;
    }
}
/* ------------------------------- large view ------------------------------- */
@media only screen and (min-width: '1000px') {.dashpages {column-gap: 2%;padding-right: 0;}}
@media only screen and (min-width: '1025px') {.dashpages {column-gap: 3.25%;padding-right: 1.5%;}}
@media only screen and (min-width: '1050px') {.dashpages {column-gap: 3.5%;padding-right: 2%;}}
@media only screen and (min-width: '1100px') {.dashpages {column-gap: 4.5%;padding-right: 3%;}}
@media only screen and (min-width: '1150px') {.dashpages {column-gap: 5.25%;padding-right: 3.75%;}}
@media only screen and (min-width: '1200px') {.dashpages {column-gap: 7%;padding-right: 6.25%;}}
@media only screen and (min-width: '1250px') {.dashpages {column-gap: 7.5%;padding-right: 6.5%;}}
@media only screen and (min-width: '1300px') {.dashpages {column-gap: 9%;padding-right: 7%;}}
@media only screen and (min-width: '1350px') {.dashpages {column-gap: 9.25%;padding-right: 7.5%;}}
@media only screen and (min-width: '1400px') {.dashpages {column-gap: 9.5%;padding-right: 8%;}}
@media only screen and (min-width: '1500px') {.dashpages {column-gap: 10%;padding-right: 8%;}}
@media only screen and (min-width: '1600px') {.dashpages {column-gap: 10.25%;padding-right: 8%;}}
@media only screen and (min-width: '1700px') {.dashpages {column-gap: 10.5%;padding-right: 8%;}}




